In [4]:
import numpy as np 
import pandas as pd 
import seaborn as sns
import matplotlib.pyplot as plt
import datetime as dt

In [5]:
import itertools

In [6]:
import warnings
warnings.filterwarnings("ignore")
warnings.simplefilter(action='ignore', category=FutureWarning)

pd.set_option('display.max_columns', None)
pd.options.display.float_format = '{:.2f}'.format

In [7]:
df = pd.read_csv("Market_Basket_Optimisation.csv",names=['products'],header=None)
df

                                                                                                                                                                                                                                               products
shrimp        almonds           avocado     vegetables mix   green grapes whole weat flour yams cottage cheese energy drink tomato juice low fat yogurt green tea honey salad mineral water salmon antioxydant juice frozen smoothie spinach  olive oil
burgers       meatballs         eggs        NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
chutney       NaN               NaN         NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
turkey        avocado           NaN         NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
mineral water milk              energy bar  whole wheat rice green tea    NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
...                                                                                                                                                                                                                                                 ...
butter        light mayo        fresh bread NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
burgers       frozen vegetables eggs        french fries     magazines    green tea        NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
chicken       NaN               NaN         NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
escalope      green tea         NaN         NaN              NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN
eggs          frozen smoothie   yogurt cake low fat yogurt   NaN          NaN              NaN  NaN            NaN          NaN          NaN            NaN       NaN   NaN   NaN           NaN    NaN               NaN             NaN            NaN

[7501 rows x 1 columns]

In [8]:
df.shape

(7501, 1)

In [11]:
df.sum()

Series([], dtype: float64)

In [12]:
first = pd.DataFrame(df.sum() / df.shape[0], columns = ["Support"]).sort_values("Support", ascending = False)
first

Empty DataFrame
Columns: [Support]
Index: []

In [13]:
first[first.Support >= 0.15]

Empty DataFrame
Columns: [Support]
Index: []

In [14]:
second = list(itertools.combinations(first.index, 2))
second = [list(i) for i in second]

In [15]:
second[:10]

[]

In [16]:
value = []
for i in range(0, len(second)):
    temp = df.T.loc[second[i]].sum() 
    temp = len(temp[temp == df.T.loc[second[i]].shape[0]]) / df.shape[0]
    value.append(temp)

In [17]:
secondIteration = pd.DataFrame(value, columns = ["Support"])
secondIteration["index"] = [tuple(i) for i in second]
secondIteration['length'] = secondIteration['index'].apply(lambda x:len(x))
secondIteration = secondIteration.set_index("index").sort_values("Support", ascending = False)

In [18]:
secondIteration = secondIteration[secondIteration.Support > 0.1]
secondIteration

Empty DataFrame
Columns: [Support, length]
Index: []

In [20]:
def ar_iterations(data, num_iter = 1, support_value = 0.1, iterationIndex = None):
    def ar_calculation(iterationIndex = iterationIndex): 
        value = []
        for i in range(0, len(iterationIndex)):
            result = data.T.loc[iterationIndex[i]].sum() 
            result = len(result[result == data.T.loc[iterationIndex[i]].shape[0]]) / data.shape[0]
            value.append(result)

In [23]:
 result = pd.DataFrame(value, columns = ["Support"])
        result["index"] = [tuple(i) for i in iterationIndex]
        result['length'] = result['index'].apply(lambda x:len(x))
        result = result.set_index("index").sort_values("Support", ascending = False)

IndentationError: unexpected indent (<ipython-input-23-f82ad2bccda6>, line 2)